.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1db954;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar > * {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar .searchBar {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar .feedbackButton {
        align-self: center;
    }
}
