.carouselContainer {
    position: relative;
  }
  
  .albumSwiper {
    padding: 20px 0;
  }
  
  .navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .navBtn i {
    color: white;
    font-size: 1.5rem;
  }
  