.section {
  margin: 20px 0;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white; /* Ensures the title is visible */
}

.tabs {
  margin-bottom: 20px;
}

.albumContainer {
  margin-top: 20px;
}

.tab {
  text-transform: none; /* Ensure tabs are not all uppercase */
  font-size: 1rem; /* Adjust font size to match the design */
  color: white !important; /* Ensure the tab text is white */
  font-weight: normal;
}

.tab.Mui-selected {
  font-weight: bold; /* Make the selected tab bold */
  color: white !important; /* Ensure selected tab text is white */
}
